<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
	
<mapper namespace="intake">


	<select id="selectAll" parameterType="java.util.HashMap" resultType="intake">
 		select id, it.code, name, supportpereat, calory, carbo, protein, fat, sugar, natrium, chole, fattyacid, transfat, img, allergy, 
 		count(*) count from intakedb it join fooddb fd on (it.code = fd.code)
		where id = #{id} and idate between date_sub(sysdate(), interval #{state} day) and sysdate()
		group by code
		order by count desc 
		<!-- select * ,count(*) from intakedb it join fooddb fd on(it.code = fd.code) group by it.code; -->
	</select>

	<select id="selectOne" parameterType="java.util.HashMap" resultType="String">
		select * from intakedb where id = #{id} and code = #{code}
	</select>

	<select id="select" parameterType="String" resultType="intake">
		select * from intakedb where ino = #{ino}
	</select>
	
	<delete id="delete" parameterType="String">
		delete from intakedb where ino = #{ino}
	</delete>
	
	<insert id="insert"	parameterType="java.util.HashMap">
		insert into intakedb values(null,sysdate(),#{id},#{code})
	</insert>
	
	
	<update id="update" parameterType="java.util.HashMap">
		update intakedb set count = count+1 where ino = #{ino} and id = #{id} and code = #{code}
	</update>



	<update id="add" parameterType="String">
		update intakedb set count = count+1 where ino = #{ino}
	</update>

	<update id="del" parameterType="java.util.HashMap">
		update intakedb set count = count-1 where ino = #{ino}
	</update>
	
	
</mapper>






