<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 실행할 query문이 들어있는 파일 -->
<!-- namespace : 사용할 도메인(테이블)을 구분하기 위해서 붙이는 식별자 -->
<mapper namespace="member">
	<!-- 리절트 맵 정의 : select 후의 결과 처리를 위한 부분 -->
	<!-- type에서 지정한 vo를 생성한 후 테이블의 컬럼에서 값을 뽑아 vo에 setting -->
	<!-- vo는 List에 저장되어 리턴됨 -->
	<resultMap id="MemberResult" type="Member"/>
	
	<select id="selectLogin" resultMap="MemberResult" parameterType="HashMap">
		select * from members where id = #{id} and pass = #{pass}
	</select>
	
	<insert id="insertJoin" parameterType="Member">
		insert into members values(#{id},#{pass},#{name},#{address},#{callnum},#{allegy})
	</insert>
	
	<update id="update" parameterType="HashMap">
		update members set address = #{address} , callnum = #{callnum}, allegy = #{allegy}, pass=#{Npass} where id =#{id} and pass = #{Opass}
	</update>	

	
	<delete id="delete" parameterType="String">
		delete from members where id = #{id}
	</delete>

	
	<update id = "updatePass" parameterType="HashMap">
		update members set pass = #{pass} where id = #{id} and name = #{name} and callnum = #{callnum}
	</update>

</mapper>