<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
	
<mapper namespace="qna">
	<select id="selectAll" resultType="question">
		select * from question order by num desc
	</select>

	<select id="selectOne" resultType="question">
		select * from question where num = #{num}
	</select>
	
	<insert id="insertQuestion"	parameterType="question">
		insert into question(name, wdate, title, content,replycount) values( #{name}, sysdate(), #{title}, #{content},0)
	</insert>
	
	<delete id="deleteQuestion"	parameterType="string">
		delete from question where num = #{num}
	</delete>
	
	<update id="updateQuestion"	parameterType="java.util.HashMap">
		update question set title = #{title}, content = #{content} where num = #{num}
	</update>
	
	<update id="updateCount"	parameterType="String">
		update question set count = count+1 where num = #{num}
	</update>
	
	<select id="findByTitle" resultType="question">
		select * from question where title like concat('%',#{title},'%')
	</select>
	
	<select id="findByName" resultType="question">
		select * from question where name = #{name}
	</select>
	

	
	<select id="selectReply" parameterType="String" resultType="reply">
		select * from reply where boardnum = #{num}
	</select>
	
	<insert id="insertReply" parameterType="reply">
		insert into reply values(null, #{boardNum},#{name}, sysdate(), #{content})
	</insert>
	
	<update id='countReply' parameterType="String">
		update question set replycount = replycount+1 where num = #{num}
	</update>
	
	
	<delete id="deleteReply" parameterType="string">
		delete from reply where num = #{num}
	</delete>

</mapper>






