@charset "UTF-8";

.member_join_login:hover{
	text-decoration: none;
}

.item_image{
	padding-top: 20px;
	display:block;
}

.item_images{
	/* padding-bottom: 20px; */
	display: block; margin: 0px auto;
}

.item_info{
	padding-left: 200px;
	text-align:left;
}

div h3{
	 margin-top: 20pt;
	 margin-bottom: 50pt;
}
#chartcanvas{

}

.pie_chart{
	width: 500px;
	margin: 0 auto;
	float: left;
}

table{
	caption-side:top;
}
table td{
	padding 5px;
}


.div_info{
	padding-left: 20px; 
	text-align:left;
	float: left;
	width: 77%;
}

.div_image{
	float:left;
	width: 23%;
}

.div_detail{
	float:left;
	width: 40%;
}

.div_details{
	/* padding-left: 200px; */
	text-align:left;
	float: left;
	width: 60%;
}

.chart{
	/* padding-left: 200px; */
	float: left;
	width: 100%;
}

#item_data{
	padding-top:20px;
}

.pinfo{
	margin: 0 auto;
	border-style:solid;
	width:700px;
	height: 400px;
	text-align: center;
}

.pinfo tr{
	margin: 0 auto;
	border: 2px solid black;
	font-weight: bold;
}

#button_{
	width:500px;
	text-align:center;
	margin: 0 auto;
	padding-bottom: 30px;
	padding-top: 20px;
}

.pinfo_{
	width:800px;
	margin: 0 auto;
	padding: 20px 20px 20px 20px;
	/* background-color: #d5ddea; */
}
body{
	padding-top: 0;
}

.floating { 
	position: fixed;
	right: 48%; 
	top: 400px; 
	margin-right: -740px; 
	text-align:center; 
	width: 180px;
	background-color: #f2ede8;
}
.trendTable 
{ 
	width: 180px;
}

.search_input
{
    padding-left: 0px;
    padding-bottom: 10px;
}
.allergyinfo
{
	color: red;
	font-weight: bold;
}
.info_span
{
	margin-bottom:5px;	
}
.warning_span
{
	color: red;
	padding-left:10px;
	
}
